
*{
    Margin: 0;
    Padding: 0;
    background-color:#0B1522;
}


.Cabeçalho{
    background-color: #08111B;
    Color: White;
    Display: flex;
    justify-content: space-around;
}

.LogoIMG{
    Width: 11%;
}

.Logo_ani{
    Width: 25%;
    padding: 20px 0px 0px 150px;
}

.Cabeçalho_Lista{
    display: inline-block;
    margin: 0 500px;
}

.texto_principal{
    color: #00BF63;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px 0px 0px;

    
}
.Conteudo_Prothon{
    Width: 35%;
    
}

.Titulo_Prothon{
    padding:  0px 0px 12px 10px;
}

.Logo_ani{
    animation: Float 1s ease-in-out alternate infinite ;
}

@keyframes Float{
    to{
        transform: translateY(30px);
    }

}